
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #4C6A6E ;
    margin: 0;
    padding: 20px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.title {
    font-size: 3em;
    margin: 0.5em 0;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;


    
}

.button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 20px;
    cursor: pointer;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color:#0FACC1 ;
    
}
.button:hover {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    overflow:hidden;
}

div {
    background-color:#0FACC1;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid #0e0f0f ;
    border-radius: 10px;
}

h2 {
    margin: 10px 0;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}


img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    
}
.btn_user:hover {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    overflow:hidden;
    

}


hr{
    border-color: black;
}

